{{define "content"}}

<div class="click2c-page-title" style="background-image: url(/static/images/footer-form-background.png);">
    <div class="overlay"></div>
  
</div>

<div class="container animate-box">
    <div class="row">
        <div class="hero-unit center">
            <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
            <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers
            <strong> Back</strong> button to navigate to the page you have prevously come from.</p>
            <p><b>Or you could just press this neat little button:</b></p>
            <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
        </div>
    </div>
</div>
{{end}}