{{define "admincontent"}}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="card">
					<div class="content">
						<div class="row">
							<div class="col-xs-5">
								<div class="icon-big icon-warning text-center">
									<span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>
								</div>
							</div>
							<div class="col-xs-7">
								<div class="numbers">
									<p>Total Cost</p>
									<div id="demo"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<hr>
						<div class="stats">
							<i class="ti-reload"></i> Updated now
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="card">
					<div class="content">
						<div class="row">
							<div class="col-xs-4">
								<div class="icon-big icon-success text-center">
									<i class="ti-wallet"></i>
								</div>
							</div>
							<div class="col-xs-8">
								<div class="numbers">
									<p>Interventions</p>
									<div id="total-students"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<hr>
						<div class="stats">
							<i class="ti-reload"></i> Total number of interventions
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="card">
					<div class="content">
						<div class="row">
							<div class="col-xs-5">
								<div class="icon-big icon-danger text-center">
									<span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>
								</div>
							</div>
							<div class="col-xs-7">
								<div class="numbers">
									<p id="student-name"></p>
									<div style="display: none;" id="demo1"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<hr>
						<div class="stats">
							<i class="ti-timer"></i> Total cost for <span id="student-name1"></span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="test100"></div>
		<div class="row">

			<div class=" col-md-12">
				<div class="header">
					<h4 class="title">Student Records</h4>
				</div>
				<div class="card">

					<div class="content">
						<div class="row">
							<div class="col-md-2">
								<label class="control-label">Date Picker From</label>
								<div class="form-group">
									<input id="min" type="text" class="form-control border-input" placeholder="Date from Picker Here">
								</div>
							</div>
							<div class="col-md-2">
								<label class="control-label">Date Picker To</label>
								<div class="form-group">
									<input id="max" type="text" class="form-control border-input" placeholder="Date to Picker Here">
								</div>
							</div>
							<div class="col-md-2">
								<button id="button" class="btn btn-info btn-fill btn-wd">Hide selected row</button>
							</div>
						</div>

						<div class="table-responsive">
							<table id="records-table" class="table table-striped table-bordered">

								<thead class="thead-inverse" style="background-color: #2d4154;color: #fff;">

									<tr>

										<th>Student Name</th>
										<th>Intervention</th>
										<th>Subject</th>
										<th>Impact</th>
										<th>Price</th>
										<th>teacher</th>
										<th>Creation Date</th>

									</tr>
								</thead>
								<tfoot>
									<tr>

										<th>Student Name</th>
										<th>Intervention</th>
										<th>Subject</th>
										<th>Impact</th>
										<th>Price</th>
										<th>Teacher</th>
										<th>Creation Date</th>


									</tr>


								</tfoot>


								<tbody>
									{{range .StudentRecords}}
									<tr>

										<td>{{.StudentForename}} {{.StudentSurname}}</td>
										<td>{{.StudentIntervention}}</td>
										<td>{{.StudentSubject}}</td>
										<td>{{.StudentImpact}}</td>
										<td>{{.StudentPrice}}</td>
										<td>{{.TeacherName}}</td>
										<td>{{.CreatedAt.Format "02-01-2006"}}</td>

									</tr>
									{{end}}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


{{end}} {{define "adminscripts"}}


<script>
	$(document).ready(function () {
		$('#records-table').DataTable({
			"footerCallback": function (tfoot, data, start, end, display) {
				var api = this.api();

				// Remove the formatting to get integer data for summation
				var intVal = function (i) {
					return typeof i === 'string' ?
						i.replace(/[\$,]/g, '') * 1 :
						typeof i === 'number' ?
							i : 0;
				};

				// Total over all pages
				total = api
					.column(4)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);

				// Total over this page
				pageTotal = api
					.column(4, { page: 'current' })
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);
				$(api.column(4).header()).html('Current ' + '£' + pageTotal.toFixed(2));
				$("#demo").html(total.toFixed(2));
				$("#demo1").html(pageTotal.toFixed(2));
				var rowCount = $(api.rows().data()).length;
				$("#total-students").html(rowCount);
			},
			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			initComplete: function () {
				this.api().columns().every(function () {
					var column = this;
					var select = $('<select id="student-selected" class="form-control border-input"><option value=""></option></select>')
						.appendTo($(column.footer()).empty())
						.on('change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
							);
							
							$("#student-name").html(val);
							$("#student-name1").html(val);
							$("#demo1").css("display","inherit");
							

							column
								.search(val ? '^' + val + '$' : '', true, false)
								.draw();
						});
						
						
					column.data().unique().sort().each(function (d, j) {
						select.append('<option value="' + d + '">' + d + '</option>')
						
						
					});
					
					
				});
			},

			dom: 'Bfrtip',
			buttons: [
				{
					extend: 'pageLength'
				},
				'colvis',
				{
					extend: 'collection',
					text: 'Export',
					buttons: [

						{
							extend: 'copyHtml5',
							exportOptions: {
								columns: ':visible'
							}
						},
						{
							extend: 'print',
							exportOptions: {
								columns: ':visible'
							}
						},


						{
							extend: 'excelHtml5',
							exportOptions: {
								columns: ':visible'
							}
						},
						{
							extend: 'pdfHtml5',
							exportOptions: {
								columns: ':visible'
							}
						},

					]
				},
				

			]


		});


	});

</script>

<script>
	$.fn.dataTable.ext.search.push(
		function (settings, data, dataIndex) {
			var iFini = document.getElementById('min').value;
			var iFfin = document.getElementById('max').value;
			var iStartDateCol = 5;
			var iEndDateCol = 5;

			iFini = iFini.substring(0, 2) + iFini.substring(3, 5) + iFini.substring(6, 10);
			iFfin = iFfin.substring(0, 2) + iFfin.substring(3, 5) + iFfin.substring(6, 10);

			var datofini = data[iStartDateCol].substring(0, 2) + data[iStartDateCol].substring(3, 5) + data[iStartDateCol].substring(6, 10);
			var datoffin = data[iEndDateCol].substring(0, 2) + data[iEndDateCol].substring(3, 5) + data[iEndDateCol].substring(6, 10);

			if (iFini === "" && iFfin === "") {
				return true;
			}
			else if (iFini <= datofini && iFfin === "") {
				return true;
			}
			else if (iFfin >= datoffin && iFini === "") {
				return true;
			}
			else if (iFini <= datofini && iFfin >= datoffin) {
				return true;
			}
			return false;
		}
	);

	$(document).ready(function () {
		var table = $('#records-table').DataTable();

		// Event listener to the two range filtering inputs to redraw on input
		$('#min, #max').on("change", function () {
			table.draw();
		});



	});

</script>

<script type="text/javascript">
	$(document).ready(function () {
		$("#min").datepicker({
			dateFormat: 'dd-mm-yy'
		});
		$("#max").datepicker({
			dateFormat: 'dd-mm-yy'
		});
	});

</script>
<script>
	$.fn.dataTable.Api.register('column().data().sum()', function () {
		return this.reduce(function (a, b) {
			var x = parseFloat(a) || 0;
			var y = parseFloat(b) || 0;
			return x + y;
		});
	});

</script>
<script>
	$(document).ready(function() {
    var table = $('#records-table').DataTable();
 
    $('#records-table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
 
    $('#button').click( function () {
        // alert( table.rows('.selected').data().length +' row(s) selected' );
		table.row('.selected').remove().draw( false );
    } );
} );

</script>


{{end}}