{{define "admincontent"}}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="card">
				<div class="header">
					<h4 class="title">Insert Student</h4>
				</div>
				<div class="content">
					<form id="insert-student-admin">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Student Forename</label>
									<input type="text" name="studentName" class="form-control border-input">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Student Surname</label>
									<input type="text" name="studentSurname" class="form-control border-input">
								</div>

							</div>

						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Year Group</label>
									<select name="YearGroup" id="YearGroup" class="form-control border-input">
										<option value="">Please select...</option>
										<option value="Year 9">Year 9</option>
										<option value="Year 10">Year 10</option>
                                        <option value="Year 11">Year 11</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Is Active</label>
									<div class="tg-list border-input">
										<div class="tg-list-item">
											<input class="tgl tgl-skewed" id="isActive" type="checkbox" name="isActive">
											<label class="tgl-btn" data-tg-off="NO" data-tg-on="YES" for="isActive"></label>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="text-center">
									<button type="submit" class="btn btn-info btn-fill btn-wd">Create Student</button>
									 <button id="editCancel"   class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin';">Cancel</button>
								</div>
							</div>
						</div>



					</form>


				</div>
			</div>
		</div>
	</div>
</div>



{{end}} {{define "adminscripts"}}
<script>
	$(document).ready(function () {
		$('form').submit(function (event) {
			event.preventDefault();
			var isActive = $('input[name=isActive]:checked').length > 0;
			var studentName =$("input[name=studentName]").val();
                if (!studentName) {
                    return;
                }

			var formData = {
				'forename': $('input[name=studentName]').val(),
				'surname': $('input[name=studentSurname]').val(),
				'year_group': $('#YearGroup option:selected').val(),
				'is_active': isActive,

			};

			$.ajax({
				type: 'post',
				url: '/admin/api/add-student',
				data: JSON.stringify(formData),
				contentType: 'application/json',
				dataType: 'json',
				success: function (data) {
					$.notify({
						icon: 'ti-user',
						message: data.description,

					}, {
							placement: {
								from: "top",
								align: "center"
							},
							type: 'success',
							timer: 2000
						});
					setTimeout(function () {
						location.reload();
					}, 2000);
				}
			});


		});
	});

</script>
{{end}}