{{define "admincontent"}}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7">

                <div class="card">
                    <div class="content">
                        <table id="example" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Forename</th>
                                    <th>Surname</th>
                                    <th>Year Group</th>
                                    <th>Editing</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Forename</th>
                                    <th>Surname</th>
                                    <th>Year Group</th>
                                    <th>Editing</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                {{range .Students}}
                                <tr>
                                    <td>{{.ID}}</td>
                                    <td>{{.Forename}}</td>
                                    <td>{{.Surname}}</td>
                                    <td>{{.YearGroup}}</td>
                                    <td><button  id="fssubmit{{.ID}}" onclick="getSingleUser('{{.ID}}');" class="btn btn-default btn-sm">Edit</button><button onclick="deleteStudent('{{.ID}}')"  class="btn btn-danger btn-sm">Delete</button></td>
                                    

                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Student</h4>
                    </div>
                    <div class="content">
                        <form id="update_student">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input type="text" id="StudentId" name="StudentId" class="form-control border-input" disabled placeholder="ID" value="1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Forname</label>
                                        <input type="text" id="Forename" name="Forename" class="form-control border-input" disabled placeholder="Forname" value="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Surname</label>
                                        <input type="text" id="Surname" name="Surname" class="form-control border-input" disabled placeholder="Surname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Year Group</label>
                                        <select name="YearGroup" id="YearGroup" class="form-control border-input" disabled>
											<option value="">Please select...</option>
											<option value="Year 9">Year 9</option>
											<option value="Year 10">Year 10</option>
                                            <option value="Year 11">Year 10</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Is Active?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="isActive" id="isActive" disabled>
                                                <label for="isActive" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="text-center">
                                <button id="submit" type="submit" class="btn btn-info btn-fill btn-wd" disabled>Update Profile</button>
                                 <button id="editCancel"  disabled class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/students';">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
{{end}} {{define "adminscripts"}}
<script>
    $(document).ready(function () {
        $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'print'
            
        ]
    } );
    });

</script>
<script>
    function getSingleUser(id) {
        var datajson = '/admin/api/get-single-student/' + id;
        $('#fssubmit'+id).addClass('loaderform');
        $.getJSON(datajson, function(data){

            $("input[name=Forename]").prop("disabled", false);
            $("input[name=Surname]").prop("disabled", false);
            $("#YearGroup").prop("disabled",false);
            $("#submit").prop("disabled", false);
            $("#isActive").prop("disabled", false);
            $("#editCancel").prop("disabled", false);

            $("input[name=StudentId]").val(data.id);
            $("input[name=Forename]").val(data.forename);
            $("input[name=Surname]").val(data.surname);
            $("#YearGroup option:selected").text(data.year_group);
            $("input[name=isActive]").attr('checked', data.is_active);
            
             $('#fssubmit'+id).removeClass('loaderform');
        });
       
    }
</script>
<script>
    function deleteStudent(id) {
        var result = confirm("You are about to delete the Student. Are you sure?");
			$.ajax({
				type: 'DELETE',
				url: '/admin/api/delete-student/' + id,
				data: JSON.stringify(id),

				success: function (data) {
					if (result) {
						$.notify({
							icon: 'ti-user',
							message: data.description,

						}, {
								placement: {
									from: "top",
									align: "center"
								},
								type: 'success',
								timer: 2000,

							});
						setTimeout(function () {
							location.reload();
						}, 2000);
					}


				},


				contentType: 'application/json',
				dataType: 'json'
			});
		
    }
</script>
<script>
    $(document).ready(function () {
        $("#update_student").on('submit', function (event) {
            event.preventDefault();

            var id = $('input[name= StudentId]').val();
            var idInt = parseInt(id);
            var isActive = $('input[name=isActive]:checked').length > 0;

            var formData = {
                'id': idInt,
                'forename': $("input[name=Forename]").val(),
                'surname': $("input[name=Surname]").val(),
                 'year_group': $('#YearGroup option:selected').text(),
                'is_active': isActive,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/update-student/' + idInt,
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>

{{end}}