{{define "admincontent"}}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-md-12">
                <div class="header">
                    <h4 class="title">Student Records</h4>
                </div>
                <div class="card">

                    <div class="content">
                        <div id="loadpage" style="position:absolute; left:0px; top:0px; background-color:white; 
                                background-color:white; height:100%; 
                                width:100%;"> 
                                <p align="center" style="font-size: large;">
                                    <img src="/static/images/loader.gif">
                                    <B>Loading ... ... Please wait!</B>
                                </p>
                            </div>
                        <div class="table-responsive">
                            <table id="records-table1" class="table table-striped table-bordered">
                                <thead>
                                    <tr>

                                        <th>Student Name</th>
                                       
                                        <th>Student Impact</th>
                                        <th>Student Subject</th>
                                        <th>Student Intervention</th>
                                        <th>Student Price</th>
                                        <th>Teacher</th>
                                        <th>Creation Date</th>
                                        <th id="modify">Modify</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>

                                        <th>Student Name</th>
                                       
                                        <th>Student Impact</th>
                                        <th>Student Subject</th>
                                        <th>Student Intervention</th>
                                        <th>Student Price</th>
                                        <th>Teacher</th>
                                        <th>Creation Date</th>
                                        <th>Modify</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {{range .StudentRecords}}
                                    <tr>

                                        <td>{{.StudentForename}} {{.StudentSurname}}</td>
                                       
                                        <td>{{.StudentImpact}}</td>
                                        <td>{{.StudentSubject}}</td>
                                        <td>{{.StudentIntervention}}</td>
                                        <td>{{.StudentPrice}}</td>
                                        <td>{{.TeacherName}}</td>
                                        <td>{{.CreatedAt.Format "01-02-2006"}}</td>
                                        <td>
                                            <button class="btn btn-info btn-fill btn-wd" onclick="getSingleStudentRecord('{{.ID}}');" data-toggle="modal" data-target="#myModalHorizontal">Edit</button>
                                            <button onclick="deleteStudentRecord('{{.ID}}')" class="btn btn-danger btn-fill btn-wd">Delete</button>
                                        </td>


                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Button trigger modal -->
        <div class="modal fade" id="myModalHorizontal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                        <h4 class="modal-title" id="myModalLabel">
                            
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form id="update_students" class="form-horizontal" role="form">
                            <input type="hidden" id="SID" class="form-control border-input">
                            <input type="hidden" id="ID" class="form-control border-input">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Impact</label>
                                <div class="col-sm-10">
                                    
                                    <select name="StudentImpact[]" id="StudentImpact" class="form-control" multiple="multiple">
                                   
                                     </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Subject</label>
                                <div class="col-sm-10">
                                   
                                    <select name="StudentSubject" id="StudentSubject" class="form-control">
                                   
                                     </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Intervention</label>
                                <div class="col-sm-10">
                                   
                                    <select name="StudentIntervention" id="StudentIntervention" class="form-control">
                                   
                                     </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Price</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control border-input" id="StudentPrice" name="StudentPrice" placeholder="Student price">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Teacher</label>
                                <div class="col-sm-10">
                                   
                                    <select name="Teacher-Name" id="Teacher-Name" class="form-control">
                                   
                                     </select>
                                </div>
                            </div>

                             <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button id="StudentUpdate" type="submit" class="btn btn-primary btn-fill btn-wd">Update</button>
                                <button type="button" class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/student-records';" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>

                   
                </div>
            </div>
        </div>

        <!-- Modal -->


    </div>
</div>


{{end}} {{define "adminscripts"}}
<script>
   $(document).ready(function () {
     $('#records-table1').DataTable();
 });

</script>


<script>
   


    $(document).ready(function () {
        var table = $('#records-table1').DataTable();

        $('#records-table1 tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $("#loadpage").hide();

    });

</script>






<script>
    function getSingleStudentRecord(id) {

        var allImpacts = '/get/api/all-impacts';
        var allInterventions = '/get/api/all-interventions';
        var allSubjects = '/get/api/all-subjects';
        var allTeachers = '/get/api/all-teachers';
        var singleRecord = '/admin/api/get-single-student-record/' + id;




        $.when(allImpacts, allSubjects,allTeachers, allInterventions, singleRecord)
            .done(function (allImpactsResults, allSubjectsResults,allTeachersResults, allInterventionsResults, singleRecordResult) {


                $.getJSON(allImpactsResults, function (data) {
                    $.each(data, function (index, value) {
                        $('#StudentImpact').append('<option value="' + value.impact + '">' + value.impact + '</option>');


                    });

                   


                });
                $.getJSON(allSubjectsResults, function (data) {
                    $.each(data, function (index, value) {
                        $('#StudentSubject').append('<option value="' + value.subject + '">' + value.subject + '</option>');


                    });
                     $("#StudentSubject").select2({
                        // data: data.student_subject,
                         placeholder: "Select impacts",
                         allowClear: true,
                    });
                   
                });
                $.getJSON(allInterventionsResults, function (data) {
                    $.each(data, function (index, value) {
                        $('#StudentIntervention').append('<option value="' + value.intervention + '">' + value.intervention + '</option>');


                    });

                    $("#StudentIntervention").select2({
                        // data: data.student_intervention,
                         placeholder: "Select impacts",
                        allowClear: true,
                    });
                });
                $.getJSON(allTeachersResults, function(data){
                    $.each(data, function(index,value) {
                        $("#Teacher-Name").append('<option value = "' + value.teacher_name + '">' + value.teacher_name+ '</option>');
                    });
                });
                $("#Teacher-Name").select2({
                    placeholder: "Select Teacher",
                    allowClear: true,
                });



                $.getJSON(singleRecordResult, function (data) {

                    var singleImpact = data.student_impact;
                    var singleSubject = data.student_subject;
                    var singleIntervention = data.student_intervention;
                    var teacherName = data.teacher_name;



                    if (singleImpact.indexOf(',') > -1) {
                        var arr = singleImpact.split(',');

                        for (var i = 0; i <= arr.length; i++) {
                            $("#StudentImpact").find("option[value='" + arr[i] + "']").attr('selected', 'selected');

                        }

                    } else {
                        $("#StudentImpact").find("option[value='" + data.student_impact + "']").attr('selected', 'selected');
                    }

                    $("#StudentSubject").find("option[value='" + singleSubject + "']").attr('selected', 'selected');
                    $("#StudentIntervention").find("option[value='" + singleIntervention + "']").attr('selected', 'selected');
                    $("#StudentPrice").val(data.student_price);
                    $("#Teacher-Name").find("option[value='" + teacherName + "']").attr('selected', 'selected');
                    $("#myModalLabel").html(data.student_forename + ' ' +data.student_surname);
                    $("#SID").val(data.student_id);
                    $("#ID").val(data.id);
                    $("#StudentImpact").select2({
                        // data: data.student_impact,
                         placeholder: "Select impacts",
                         allowClear: true

                    });
                     $("#StudentIntervention").select2({
                        // data: data.student_intervention,
                         placeholder: "Select Intervention",
                        allowClear: true,
                    });
                     $("#StudentSubject").select2({
                        // data: data.student_subject,
                         placeholder: "Select Subject",
                         allowClear: true,
                    });
                     $("#Teacher-Name").select2({
                        // data: data.student_subject,
                         placeholder: "Select Teacher",
                         allowClear: true,
                    });
                   
   
                });
                  

            })
            .fail(function () {
                alert("Please try again.");
            })


    };

</script>
<script>
    $(document).ready(function () {

      
            $("#update_students").on('submit', function (event) {

                event.preventDefault();
                var student_id = $("#SID").val();
                var student_idInt = parseInt(student_id);

                 var id = $("#ID").val();
                var idInt = parseInt(id);

                var price = $("input[name=StudentPrice").val();
                var priceFloat = parseFloat(price);

                var impacts = $("#StudentImpact").val();
                var singleImpacts = impacts.join(',');


                var formData = {
                    'id': idInt,
                    'student_id': student_idInt,
                    'student_impact': singleImpacts,
                    'student_subject': $("#StudentSubject").val(),
                    'student_intervention': $("#StudentIntervention").val(),
                    'student_price': priceFloat,
                    'teacher_name': $("#Teacher-Name").val(),

                };

                $.ajax({
                    type: 'post',
                    url: '/admin/api/update-single-student-record/' + idInt,
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    contentType: "application/json",

                    success: function (data) {
                        $("#myModalHorizontal").modal("hide");
                        $.notify({
                            icon: 'ti-user',
                            message: data.description,

                        }, {
                                placement: {
                                    from: "center",
                                    align: "center"
                                },
                                type: 'success',
                                timer: 1000,

                            });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    }
                });
            });
        });

</script>
<script>
     function deleteStudentRecord(id) {
        var result = confirm("You are about to delete the Student. Are you sure?");
			$.ajax({
				type: 'DELETE',
				url: '/admin/api/delete-simgle-student-redord/' + id,
				data: JSON.stringify(id),

				success: function (data) {
					if (result) {
						$.notify({
							icon: 'ti-user',
							message: data.description,

						}, {
								placement: {
									from: "top",
									align: "center"
								},
								type: 'success',
								timer: 2000,

							});
						setTimeout(function () {
							location.reload();
						}, 2000);
					}


				},


				contentType: 'application/json',
				dataType: 'json'
			});
		
    }
</script>

{{end}}