<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{.Title}}</title>
	<meta name="description" content="{{.Description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/css/animate.css" type="text/css">
	<link rel="stylesheet" href="/admin-static/css/themify-icons.css" type="text/css">
	<link rel="stylesheet" href="/admin-static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/admin-static/css/dataTable.css" type="text/css">
	<link rel="stylesheet" href="/admin-static/css/dataTbale.buttons.css" type="text/css">
	<link rel="stylesheet" href="/static/css/select.css" type="text/css">
	<link rel="stylesheet" href="/admin-static/css/datetime.css" type="text/css">
	<link rel="stylesheet" href="/admin-static/css/admin.css" type="text/css">
	

</head>

<body>
	<div class="wrapper">

		<div class="sidebar" data-background-color="white" data-active-color="primary">
			<div class="sidebar-wrapper">
				<!-- <div class="logo">

					<a href="/" class="simple-text"><img class="img-responsive" src="/static/images/logo.png" alt=""></a>
				</div> -->
				<div class="logo">
					<a href="http://www.creative-tim.com" class="simple-text">
						Logoo Here
					</a>
				</div>
				<ul id="menu" class="nav">

					<li>
						<a href="/admin">
							<i class="ti-panel"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li>
						<a href="/admin/add-student">
							<i class="ti-files"></i>
							<p>Add Students</p>
						</a>
					</li>
					<li>
						<a href="/admin/students">
							<i class="ti-user"></i>
							<p>Students</p>
						</a>
					</li>
					<li>
						<a href="/admin/users">
							<i class="ti-user"></i>
							<p>Users</p>
						</a>
					</li>
					<li>
						<a href="/admin/helpers">
							<i class="ti-pencil"></i>
							<p>Maintenance</p>
						</a>
					</li>
					<li>
						<a href="/admin/student-records">
							<i class="ti-pencil"></i>
							<p>Edit Records</p>
						</a>
					</li>

					<li class="active-pro">
						<a href="/admin/logout">
							<i class="ti-export"></i>
							<p>Logout</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" style="clear:both;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
						<a class="navbar-brand" href="#"> School Administrator</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-user" aria-hidden="true"></i>
									<p class="notification">Hi,</p>
									<p>{{.Username}}</p>

									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/admin/logout">Logout</a></li>

								</ul>
							</li>

						</ul>

					</div>
				</div>
			</nav>

			{{block "admincontent" .}} {{end}}




			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>

							<li>
								<a href="/">
                                Home
                            </a>
							</li>
						</ul>
					</nav>
					<div class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>, made with <i class="fa fa-paper heart"></i> by <a href="#">Nikos Batzios</a>
					</div>
				</div>
			</footer>

		</div>
	</div>


	<script src="/static/js/jquery-3.1.0.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript"></script>
	<script src="/admin-static/js/offcanvasmenu.js" type="text/javascript"></script>
	
	<script src="/static/js/bootstrap-notify.js" type="text/javascript"></script>
	<script src="/admin-static/js/jquery.datatable.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.buttons.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.buttons.flash.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.jszip.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.pdfmaker.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.fonts.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.html5.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.button.print.js" type="text/javascript"></script>
	<script src="/admin-static/js/dataTable.column.visibility.js" type="text/javascript"></script>
	<script src="/admin-static/js/jquery.ui.js" type="text/javascript"></script>
	<script src="/static/js/select.js"></script>
	<script src="/admin-static/js/admin.js" type="text/javascript"></script>
	
	
	<script src="/static/js/Validation.js"></script>


	

    



	{{block "adminscripts" .}}{{end}}



</body>

</html>