{{define "admincontent"}}
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" onclick="goBack()">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            <ul class="testTable table-striped">
                                <div class="testBody">
                                    <li class="list-group-item testRow">
                                        <h3>{{.Lender.LenderName}}</h3>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">About {{.Lender.LenderName}} </span>
                                        <span>{{.Lender.AboutLender}}</span>

                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Product</span>
                                        <span>{{.Lender.Product}}</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Loan Value Available</span>
                                        <span>£{{.Lender.MinLoanAmount}} to £{{.Lender.MaxLoanAmount}}</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Loan Length</span>
                                        <span>{{.Lender.LoanTermFrom}} Year to {{.Lender.LoanTermTo}} Years</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Rates From:</span>
                                        <span>{{.Lender.RateFrom}} - {{.Lender.RateTo}}</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Representative APR</span>
                                        <span>{{.Lender.APRVariable}}%</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Age Requirement</span>
                                        <span>{{.Lender.AgeRequirement}}</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Debit Card</span>
                                        <span> {{.Lender.DebitCard}} </span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Credit Checks</span>
                                        <span>
                                              {{if eq .Lender.CreditChecks true}}
                                                    <i class="ti-check"></i>
                                              {{end}}
                                         </span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Other Requirements</span>
                                        <span>{{.Lender.OtherRequirement}}</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Same Day Transfer Available</span>
                                        <span>{{.Lender.SameDayTransfer}}</span>
                                    </li>



                                    <li class="testRow">
                                        <span class="lender_information">FCA Registration Number</span>
                                        <span>{{.Lender.FCARegNumber}}</span>
                                    </li>
                                    <li class="testRow">
                                        <span class="lender_information">Loan Example</span>
                                        <span>{{.Lender.RepresentativeExample}}</span>

                                    </li>
                                </div>
                            </ul>
                            <button type="button" class="btn btn-primary" onclick="goBack()" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{end}} {{define "adminscripts"}}
<script type="text/javascript">
$(document).ready(function () {
     $('#portfolioModal1').modal('show');

});

</script>

{{end}}