{{define "admincontent"}}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">

                <div class="card">
                    <div class="header">
                        <h4 class="title">Team Members</h4>
                         
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                            
                            {{range .Users}}
                           

                            <li>
                                
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="avatar">
                                            <img src="/static/images/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        {{.Username}}
                                        <br />
                                        <span class="text-muted"><small>{{.Role}}</small></span>
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        {{if eq .IsActive true}}
                                        <button  class="btn btn-sm btn-info btn-icon editing-user" onclick="getSingleUser('{{.ID}}');"><i class="fa fa-pencil-square-o"></i></button>
                                        {{else}} {{if eq .IsActive false}}
                                         <button  disabled="disabled" class="btn btn-sm btn-info btn-icon" onclick="getSingleUser('{{.ID}}');"><i class="fa fa-pencil-square-o"></i></button>
                                         {{end}}
                                         {{end}}

                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item users-buttons">

                                                {{if eq .IsActive true}}
                                                    <input class="tgl tgl-flat" id="IsActive{{.ID}}" type="checkbox" name="IsActive{{.ID}}" checked onclick="enableDisableUser('{{.ID}}');">
                                                    <label class="tgl-btn" for="IsActive{{.ID}}"></label>
                                                 {{else}} {{if eq .IsActive false}}
                                                    <input class="tgl tgl-flat" id="IsActive{{.ID}}" type="checkbox" name="IsActive{{.ID}}" onclick="enableDisableUser('{{.ID}}');">
                                                    <label class="tgl-btn" for="IsActive{{.ID}}"></label>
                                                 {{end}} 
                                                 {{end}}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                          
                            <button id="create-user" class="btn btn-info btn-fill btn-wd"> Create User</button>
                           
                           
                        </ul>
                    </div>
                </div>
              </div>
             <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title custom-title">Edit Profile</h4>
                        </div>
                        <div class="content">
                            <form id="update_user">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text" id="UserId" name="UserId" class="form-control border-input" disabled placeholder="ID" value="1">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Forname</label>
                                            <input type="text" id="Forename" name="Forename" class="form-control border-input" disabled placeholder="Forname" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Surname</label>
                                            <input type="text" id="Surname" name="Surname" class="form-control border-input" disabled placeholder="Surname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Username</label>
                                            <input type="text" id="UserName" name="UserName" class="form-control border-input" disabled placeholder="username">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Password</label>
                                            <input type="password" id="password" name="password" class="form-control border-input" disabled placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Role</label>
                                            <select name="role1" id="role1" class="form-control border-input" disabled>
											<option value="">Select role</option>
											<option value="administrator">administrator</option>
											<option value="pastoral">Pastoral</option>
										</select>
                                        </div>
                                    </div>
                                </div>


                                <div class="text-center">
                                    <button id="submit" type="submit" class="btn btn-info btn-fill btn-wd" disabled>Update Profile</button>
                                     <button id="editCancel"  disabled class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/users';">Cancel</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                            <form id="register-form-admin"  method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="ForeName" id="ForeName" tabindex="1" class="form-control border-input" placeholder="Forename" value="">
									</div>
									<div class="form-group">
										<input type="text" name="SurName" id="SurName" tabindex="1" class="form-control border-input" placeholder="Surname" value="">
									</div>
									<div class="form-group">
										<input type="text" name="Username" id="Username" tabindex="1" class="form-control border-input" placeholder="Username" value="">
									</div>

									<div class="form-group">
										<input type="password" name="Password" id="Password" tabindex="2" class="form-control border-input" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="Confirmpassword" id="Confirm-password" tabindex="2" class="form-control border-input" placeholder="Confirm Password">
									</div>
									<div class="form-group">

										<select name="Role" id="Role" class="form-control border-input">
											<option value="">Select role</option>
											<option value="administrator">Administrator</option>
											<option value="pastoral">Pastoral</option>
										</select>

									</div>
                                    <div class="form-group">
                                          <label>Is Active?</label>
                                          <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                              <input type="checkbox" class="tgl tgl-skewed" name="isActive" id="isActive">
                                              <label for="isActive" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                           </div>
                                        </div>
                                    </div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="Register-submit" id="Register-submit" tabindex="4" class="btn btn-info btn-fill btn-wd" value="Register Now">
											</div>
										</div>
									</div>
								</form>
                        </div>
                    </div>
                </div>
            </div>
            
     
    </div>
</div>
    {{end}} {{define "adminscripts"}}
    <script>
        function getSingleUser(id) {

            var datajson = '/admin/api/get-single-user/' + id;

            $.getJSON(datajson, function (data) {
                $('#role1').prop("disabled", false);
                $("input[name=Forename]").prop("disabled", false);
                $("input[name=Surname]").prop("disabled", false);
                $("input[name=UserName]").prop("disabled", false);
                $("input[name=password]").prop("disabled", false);
                $("#submit").prop("disabled", false);
                $("#editCancel").prop("disabled", false);

                $("input[name=UserId]").val(data.id);
                $("#role1 option:selected").text(data.role);
                $("input[name=Forename]").val(data.forename);
                $("input[name=Surname]").val(data.surname);
                $("input[name=UserName]").val(data.username);
                $("input[name=password]").val(data.password);


            });
        };
        function enableDisableUser(id) {
            var isActive = $("#IsActive" + id).is(":checked");

            console.log(isActive);

            var formData = {
                'is_active': isActive,
            };

            $.ajax({
                type: 'post',
                url: '/admin/api/update-is-active-user/' + id,
                data: JSON.stringify(formData),
                contentType: 'application/json',
                dataType: 'json',

                success: function (data) {

                    $.notify({
                        icon: 'ti-user',
                        message: data.description,
                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,

                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);

                }

            });
        }
 </script>
    <script>
        
		$(document).ready(function () {

			$('#create-user').click(function (e) {
				$("#update_user").fadeOut(10);
                
                $("#register-form-admin").css('display','inherit').fadeIn();
                $(".custom-title").html("Create Profile");
				
				e.preventDefault();
			});
			$('.editing-user').on('click',function (e) {
				$("#register-form-admin").fadeOut(100);
				$("#update_user").fadeIn();
                $(".custom-title").html("Edit Profile");
                $("#register-form-admin").css('display','none');
				e.preventDefault();
			});

		});

    </script>
    <script>
        $(document).ready(function() {
            $("#register-form-admin").on('submit', function(event) {
                event.preventDefault();
                var isActive = $('input[name=isActive]:checked').length > 0;
                var emptyusername =$("input[name=Username]").val();
                if (!emptyusername) {
                    return;
                }

                var formData = {
                   
                    'role': $('#Role option:selected').val(),
                    'forename': $("input[name=ForeName]").val(),
                    'surname': $("input[name=SurName]").val(),
                    'username': $("input[name=Username]").val(),
                    'password': $("input[name=Password]").val(),
                    'is_active': isActive,
                };
                $.ajax({
                    type: 'post',
                    url: '/admin/api/create-new-user',
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    contentType: "application/json",

                    success: function(data) {
                        $.notify({
                            icon: 'ti-user',
                            message: data.description,


                        }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    }
                });
            });
        });
    </script>
   
    <script>
        $(document).ready(function() {
            $("#update_user").on('submit', function(event) {
                event.preventDefault();

                var id = $('input[name= UserId]').val();
                var idInt = parseInt(id);

                var formData = {
                    'id': idInt,
                    'role': $('#role1 option:selected').text(),
                    'forename': $("input[name=Forename]").val(),
                    'surname': $("input[name=Surname]").val(),
                    'username': $("input[name=UserName]").val(),
                    'password': $("input[name=password]").val(),
                };
                $.ajax({
                    type: 'post',
                    url: '/admin/api/update-single-user/' + idInt,
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    contentType: "application/json",

                    success: function(data) {
                        $.notify({
                            icon: 'ti-user',
                            message: data.description,


                        }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                        setTimeout(function() {
                            location.reload();
                        }, 2000);
                    }
                });
            });
        });
    </script>
    {{end}}