<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{.Title}}</title>
	<meta name="description" content="{{.Description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/select.css" type="text/css">
	<link rel="stylesheet" href="/static/css/animate.css" type="text/css">
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="/static/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	
</head>

<body>
	<div id="click2c-page">
		<header id="click2c-header" role="banner">
			<div class="container">
				<div class="row">
					<div class="header-inner">
						<!--<img class="" src="/static/images/logo.png" alt="">-->
						
						<nav role="navigation">
							<ul>
								<li {{if eq .Active "home"}} class="active" {{end}}><a href="/admin">Login</a></li>
								
								
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		{{ block "content" .}}
		<div id="click2c-dark"></div>
		{{ end }}
		<footer id="click2c-footer" role="contentinfo">
			<div class="container">
				
				<div class="col-md-12 click2c-copyright text-center">
					<p>&copy; Copyright 2017  High School. All rights reserved. <span>Registered  </span></p>
				</div>
			</div>
		</footer>
		



	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery-3.1.0.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.js"></script>

	
	
	
	
	<script src="/static/js/bootstrap-notify.js" type="text/javascript"></script>
	<script src="/static/js/Validation.js"></script>
	<script src="/static/js/select.js"></script>
	
	


	{{block "scripts" .}}{{end}}
</body>

</html>