<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{.Title}}</title>
	<meta name="description" content="{{.Description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/select.css" type="text/css">
	<link rel="stylesheet" href="/static/css/animate.css" type="text/css">
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="/static/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         {{$role := .Role}}
        {{if eq  $role  "pastoral"}}
        <li><a href="/admin/logout" style="font-size: 23px;">Logout</a></li>  
        {{else}}
        <li><a href="/admin" style="font-size: 23px;">Login</a></li>
        {{end}}
       
       
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>YOU LOGO HERE</h1> 
  <!-- <img class="img-responsive" style="margin: 0 auto;" src="/static/images/0001242_your-logo-here.jpeg" alt=""> -->
  
</div>




<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">Intervention Log</h2>
  <div class="row">
    
   
     {{ block "content" .}}
     {{end}}
   
  </div>
</div>




<footer class="text-center">
 <p>&copy; Copyright 2017 Nikos Batzios. All rights reserved. <span>Registered  </span></p>
  
</footer>


	<script type="text/javascript" src="/static/js/jquery-3.1.0.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-notify.js" type="text/javascript"></script>
	<script src="/static/js/Validation.js"></script>
	<script src="/static/js/select.js"></script>
{{block "scripts" .}}{{end}}
</body>
</html>
