{{define "admincontent"}}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title custom-title">Add Impacts</h4>
                    </div>
                    <div class="content">
                        <form id="impact-admins">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Impact</label>
                                        <input id="Impact" name="Impact" type="text" class="form-control border-input" placeholder="Impacts desc">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Pastoral?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="Pastoral" id="Pastoral">
                                                <label for="Pastoral" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Teachers?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="Teachers" id="Teachers">
                                                <label for="Teachers" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <form id="impact-admins-edit" class="disabled">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input id="ImpactID" name="ImpactID" type="text" class="form-control border-input" disabled>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Impact</label>
                                        <input id="ImpactEdit" name="ImpactEdit" type="text" class="form-control border-input" placeholder="Impacts desc">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Pastoral?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="PastoralEdit" id="PastoralEdit">
                                                <label for="PastoralEdit" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Teachers?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="TeachersEdit" id="TeachersEdit">
                                                <label for="TeachersEdit" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update</button>
                                <button id="editCancel" class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/helpers';">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Impacts</h4>
                    </div>
                    <div class="content">
                        <table id="impact-table" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>

                                    <th style="width: 160px;">Impacts</th>
                                    <th>Editing</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                    <th>Impacts</th>
                                    <th>Editing</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{range .ShowImpact}}
                                <tr>

                                    <td>{{.Impact}}</td>
                                    <td><button id="fssubmit{{.ID}}" onclick="getSingleImpact('{{.ID}}');" class="btn btn-default btn-sm">Edit</button>
                                        <button onclick="deleteImpact('{{.ID}}')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>


                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class=" col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title custom-title1">Add Subjects</h4>
                    </div>
                    <div class="content">
                        <form id="subject-admins">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input id="Subject" name="Subject" type="text" class="form-control border-input" placeholder="Subject desc">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Pastoral?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="Pastoral1" id="Pastoral1">
                                                <label for="Pastoral1" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Teachers?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="Teachers1" id="Teachers1">
                                                <label for="Teachers1" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <form id="subject-admins-edit" class="disabled">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input id="SubjectID" name="SubjectID" type="text" class="form-control border-input" disabled>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input id="SubjectEdit" name="SubjectEdit" type="text" class="form-control border-input" placeholder="Subject desc">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Pastoral?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="SubjectPastoralEdit" id="SubjectPastoralEdit">
                                                <label for="SubjectPastoralEdit" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Teachers?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="SubjectTeachersEdit" id="SubjectTeachersEdit">
                                                <label for="SubjectTeachersEdit" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update</button>
                                <button id="editCancel" class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/helpers';">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Subjects</h4>
                    </div>
                    <div class="content">
                        <table id="subject-table" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>

                                    <th>Subjects</th>
                                    <th>Editing</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                    <th>Subjects</th>
                                    <th>Editing</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{range .ShowSubject}}
                                <tr>

                                    <td>{{.Subject}}</td>
                                    <td><button id="fssubmit{{.ID}}" onclick="getSingleSubject('{{.ID}}');" class="btn btn-default btn-sm">Edit</button>
                                        <button onclick="deleteSubject('{{.ID}}')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>


                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title custom-title2">Add Intervention</h4>
                    </div>
                    <div class="content">
                        <form id="intervention-admins">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Intervention</label>
                                        <input id="Intervention" name="Intervention" type="text" class="form-control border-input" placeholder="Intervention desc">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Pastoral?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="Pastoral2" id="Pastoral2">
                                                <label for="Pastoral2" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Teachers?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="Teachers2" id="Teachers2">
                                                <label for="Teachers2" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <form id="intervention-admins-edit" class="disabled">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input id="InterventionID" name="InterventionID" type="text" class="form-control border-input" disabled>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input id="InterventionEdit" name="InterventionEdit" type="text" class="form-control border-input" placeholder="Intervention desc">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Pastoral?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="InterventionPastoralEdit" id="InterventionPastoralEdit">
                                                <label for="InterventionPastoralEdit" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Teachers?</label>
                                        <div class="tg-list border-input">
                                            <div class="tg-list-item">
                                                <input type="checkbox" class="tgl tgl-skewed" name="InterventionTeachersEdit" id="InterventionTeachersEdit">
                                                <label for="InterventionTeachersEdit" class="tgl-btn" data-tg-off="NO" data-tg-on="YES"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update</button>
                                <button id="editCancel" class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/helpers';">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Interventions</h4>
                    </div>
                    <div class="content">
                        <table id="intervention-table" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>

                                    <th style="width: 160px;">Interventions</th>
                                    <th>Editing</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                    <th>Interventions</th>
                                    <th>Editing</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{range .ShowInterventions}}
                                <tr>

                                    <td>{{.Intervention}}</td>
                                    <td><button id="fssubmit{{.ID}}" onclick="getSingleIntervention('{{.ID}}');" class="btn btn-default btn-sm">Edit</button>
                                        <button onclick="deleteIntervention('{{.ID}}')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>


                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="padding-bottom:92px;">
                    <div class="header">
                        <h4 class="title custom-title3">Add Teacher</h4>
                    </div>
                    <div class="content">
                        <form id="teacher-admins">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Teacher</label>
                                        <input id="Teacher" name="Teacher" type="text" class="form-control border-input" placeholder="Teacher desc">
                                    </div>
                                </div>

                            </div>
                           

                            <div class="text-center" style="top: 91px; position: relative;">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <form id="teacher-admins-edit" class="disabled">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ID</label>
                                        <input id="TeacherID" name="TeacherID" type="text" class="form-control border-input" disabled>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Teacher</label>
                                        <input id="TeacherEdit" name="TeacherEdit" type="text" class="form-control border-input" placeholder="Teacher desc">
                                    </div>
                                </div>

                            </div>
                            <div class="text-center" style="top: 91px; position: relative;">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update</button>
                                <button id="editCancel" class="btn btn-danger btn-fill btn-wd" onclick="window.location = '/admin/helpers';">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Teachers</h4>
                    </div>
                    <div class="content">
                        <table id="teacher-table" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>

                                    <th style="width: 160px;">Teachers</th>
                                    <th>Editing</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                    <th>Teachers</th>
                                    <th>Editing</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{range .SHowTeachers}}
                                <tr>

                                    <td>{{.TeacherName}}</td>
                                    <td><button id="fssubmit{{.ID}}" onclick="getSingleTeacher('{{.ID}}');" class="btn btn-default btn-sm">Edit</button>
                                        <button onclick="deleteTeacher('{{.ID}}')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>


                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


{{end}} {{define "adminscripts"}}
<script>
    $(document).ready(function () {
        $('#impact-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'
            ]
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#teacher-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'
            ]
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#subject-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'

            ]
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#intervention-table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'

            ]
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#impact-admins").on('submit', function (event) {
            event.preventDefault();
            var pastoral = $('input[name=Pastoral]:checked').length > 0;
            var teachers = $('input[name=Teachers]:checked').length > 0;
            var impact = $("input[name=Impact]").val();
            if (!impact) {
                return;
            }

            var formData = {


                'impact': $("input[name=Impact]").val(),
                'pastoral': pastoral,
                'teachers': teachers,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/add-impact',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#teacher-admins").on('submit', function (event) {
            event.preventDefault();
           
            var impact = $("input[name=Teacher]").val();
            if (!impact) {
                return;
            }

            var formData = {


                'teacher_name': $("input[name=Teacher]").val(),
                
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/add-teacher',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#subject-admins").on('submit', function (event) {
            event.preventDefault();
            var pastoral = $('input[name=Pastoral1]:checked').length > 0;
            var teachers = $('input[name=Teachers1]:checked').length > 0;
            var subject = $("input[name=Subject]").val();
            if (!subject) {
                return;
            }

            var formData = {


                'subject': $("input[name=Subject]").val(),
                'pastoral': pastoral,
                'teachers': teachers,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/add-subject',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#intervention-admins").on('submit', function (event) {
            event.preventDefault();
            var pastoral = $('input[name=Pastoral2]:checked').length > 0;
            var teachers = $('input[name=Teachers2]:checked').length > 0;
            var intervention = $("input[name=Intervention]").val();
            if (!intervention) {
                return;
            }

            var formData = {


                'intervention': $("input[name=Intervention]").val(),
                'pastoral': pastoral,
                'teachers': teachers,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/add-intervention',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>

<script>
    function getSingleImpact(id) {
        var Intid = parseInt(id);
        $("#impact-admins").addClass("disabled");
        $("#impact-admins-edit").removeClass("disabled");
        $(".custom-title").html("Edit Impact");
        var datajson = '/admin/api/get-single-impact/' + Intid;
        $('#fssubmit' + id).addClass('loaderform');
        $.getJSON(datajson, function (data) {



            $("input[name=ImpactID]").val(data.id);
            $("input[name=ImpactEdit]").val(data.impact);

            $("input[name=PastoralEdit]").attr('checked', data.pastoral);
            $("input[name=TeachersEdit]").attr('checked', data.teachers);

            $('#fssubmit' + id).removeClass('loaderform');
        });

    }

</script>
<script>
    function getSingleTeacher(id) {
         var Intid = parseInt(id);
        $("#teacher-admins").addClass("disabled");
        $("#teacher-admins-edit").removeClass("disabled");
        $(".custom-title3").html("Edit Teacher");
        var datajson = '/admin/api/get-single-teacher/' + Intid;
        $('#fssubmit' + id).addClass('loaderform');
        $.getJSON(datajson, function (data) {



            $("input[name=TeacherID]").val(data.id);
            $("input[name=TeacherEdit]").val(data.teacher_name);


            $('#fssubmit' + id).removeClass('loaderform');
        });

    }

</script>
<script>
    $(document).ready(function () {
        $("#impact-admins-edit").on('submit', function (event) {
            event.preventDefault();

            var pastoral = $('input[name=PastoralEdit]:checked').length > 0;
            var teachers = $('input[name=TeachersEdit]:checked').length > 0;
            var impact = $("input[name=ImpactEdit]").val();
            if (!impact) {
                return;
            }
            var id = $('#ImpactID').val();
            var idInt = parseInt(id);
            var formData = {

                'id': idInt,
                'impact': $("input[name=ImpactEdit]").val(),
                'pastoral': pastoral,
                'teachers': teachers,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/update-single-impact/' + id,
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
        $("#teacher-admins-edit").on('submit', function (event) {
            event.preventDefault();

           
            var teacher = $("input[name=TeacherEdit]").val();
            if (!teacher) {
                return;
            }
            var id = $('#TeacherID').val();
            var idInt = parseInt(id);
            var formData = {

                'id': idInt,
                'teacher_name': $("input[name=TeacherEdit]").val(),
               
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/update-single-teacher/' + id,
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    function deleteImpact(id) {
        var result = confirm("You are about to delete the Impact. Are you sure?");
        $.ajax({
            type: 'DELETE',
            url: '/admin/api/delete-impact/' + id,
            data: JSON.stringify(id),

            success: function (data) {
                if (result) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,

                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }


            },


            contentType: 'application/json',
            dataType: 'json'
        });

    }

</script>
<script>
    function deleteTeacher(id) {
        var result = confirm("You are about to delete the Teacher. Are you sure?");
        $.ajax({
            type: 'DELETE',
            url: '/admin/api/delete-teacher/' + id,
            data: JSON.stringify(id),

            success: function (data) {
                if (result) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,

                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }


            },


            contentType: 'application/json',
            dataType: 'json'
        });

    }

</script>



<script>
    function getSingleSubject(id) {
        var Intid = parseInt(id)
        $("#subject-admins").addClass("disabled");
        $("#subject-admins-edit").removeClass("disabled");
        $(".custom-title1").html("Edit Subject");
        var datajson = '/admin/api/get-single-subject/' + Intid;
        $('#fssubmit' + id).addClass('loaderform');
        $.getJSON(datajson, function (data) {



            $("input[name=SubjectID]").val(data.id);
            $("input[name=SubjectEdit]").val(data.subject);

            $("input[name=SubjectPastoralEdit]").attr('checked', data.pastoral);
            $("input[name=SubjectTeachersEdit]").attr('checked', data.teachers);

            $('#fssubmit' + id).removeClass('loaderform');
        });

    }

</script>
<script>
    $(document).ready(function () {
        $("#subject-admins-edit").on('submit', function (event) {
            event.preventDefault();

            var pastoral = $('input[name=SubjectPastoralEdit]:checked').length > 0;
            var teachers = $('input[name=SubjectTeachersEdit]:checked').length > 0;
            var subject = $("input[name=SubjectEdit]").val();
            if (!subject) {
                return;
            }
            var id = $('#SubjectID').val();
            var idInt = parseInt(id);
            var formData = {

                'id': idInt,
                'subject': $("input[name=SubjectEdit]").val(),
                'pastoral': pastoral,
                'teachers': teachers,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/update-single-subject/' + id,
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    function deleteSubject(id) {
        var result = confirm("You are about to delete the Subject. Are you sure?");
        $.ajax({
            type: 'DELETE',
            url: '/admin/api/delete-subject/' + id,
            data: JSON.stringify(id),

            success: function (data) {
                if (result) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,

                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }


            },


            contentType: 'application/json',
            dataType: 'json'
        });

    }

</script>

<script>
    function getSingleIntervention(id) {
        var Intid = parseInt(id)
        $("#intervention-admins").addClass("disabled");
        $("#intervention-admins-edit").removeClass("disabled");
        $(".custom-title2").html("Edit Intervention");
        var datajson = '/admin/api/get-single-intervention/' + Intid;
        $('#fssubmit' + id).addClass('loaderform');
        $.getJSON(datajson, function (data) {



            $("input[name=InterventionID]").val(data.id);
            $("input[name=InterventionEdit]").val(data.intervention);

            $("input[name=InterventionPastoralEdit]").attr('checked', data.pastoral);
            $("input[name=InterventionTeachersEdit]").attr('checked', data.teachers);

            $('#fssubmit' + id).removeClass('loaderform');
        });

    }

</script>
<script>
    $(document).ready(function () {
        $("#intervention-admins-edit").on('submit', function (event) {
            event.preventDefault();

            var pastoral = $('input[name=InterventionPastoralEdit]:checked').length > 0;
            var teachers = $('input[name=InterventionTeachersEdit]:checked').length > 0;
            var intervention = $("input[name=InterventionEdit]").val();
            if (!intervention) {
                return;
            }
            var id = $('#InterventionID').val();
            var idInt = parseInt(id);
            var formData = {

                'id': idInt,
                'intervention': $("input[name=InterventionEdit]").val(),
                'pastoral': pastoral,
                'teachers': teachers,
            };
            $.ajax({
                type: 'post',
                url: '/admin/api/update-single-intervention/' + id,
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,


                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000
                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            });
        });
    });

</script>
<script>
    function deleteIntervention(id) {
        var result = confirm("You are about to delete the Intervention. Are you sure?");
        $.ajax({
            type: 'DELETE',
            url: '/admin/api/delete-intervention/' + id,
            data: JSON.stringify(id),

            success: function (data) {
                if (result) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,

                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }


            },


            contentType: 'application/json',
            dataType: 'json'
        });

    }

</script>
{{end}}