{{ define "content"}}




<div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
    <form id="create-impacts" action="">
        <input type="hidden" id="UserRole" value="{{.Role}}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="student" class="control-label">Select Student</label>
                    <select id="student" class="form-control">
                           
                 </select>
            </div>

            </div>
            {{if eq .Role "pastoral"}}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Subject</label>
                    <select name="Subject" id="pastoral" class="form-control">
                                   
                    </select>
                </div>
            </div>
            
            {{else}}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Subject</label>
                    <select name="Subject" id="subjects" class="form-control">
                                   
                    </select>
                </div>
            </div>
            {{end}}
            {{if eq .Role "pastoral"}}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Intervention</label>
                    <select name="Interventions" id="pastoralinterventions" class="form-control">
                                    
                    </select>
                </div>
            </div>
            {{else}}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Intervention</label>
                    <select name="Interventions" id="interventions" class="form-control">
                                    
                    </select>
                </div>
            </div>
            {{end}}
             <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="control-label">Cost</label>
                    <input type="text" id="price" name="Price" class="form-control" placeholder="0.00">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="control-label">Teachers</label>
                    <select name="teacherName" id="teacherName" class="form-control">
                                    
                    </select>
                </div>
            </div>
            {{if eq .Role "pastoral"}}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="impact" class="control-label">Select Impact</label>
                    <select id="impactpastoral" name="Impact[]" class=" form-control " multiple="multiple">
                                   
                    </select>
                </div>

            </div>
            {{else}}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="impact" class="control-label">Select Impact</label>
                    <select id="impact" name="Impact[]" class=" form-control " multiple="multiple">
                                   
                    </select>
                </div>

            </div>
            {{end}}
            
            
           
            <div class="col-md-6">
                
                    <button  class="btn  btn-xl" type="submit">Save</button>
                
            </div>

        </div>


    </form>
</div>


</div>


{{ end }} {{define "scripts"}}

<script>
    $(document).ready(function () {


        $("#create-impacts").on('submit', function (event) {

            event.preventDefault();
            var student_value = $("#student").val();
            var student_value_split = student_value.split(' ');
            var student_id = student_value_split[0];
            var student_idInt = parseInt(student_id);

            var price = $("input[name=Price").val();
            var priceFloat = parseFloat(price);

            var impacts = $("#impact").val();
            var singleImpacts = impacts.join(',');
           

            var formData = {

                'student_id': student_idInt,
                'student_impact': singleImpacts,
                'student_subject': $("#subjects").val(),
                'student_intervention': $("#interventions").val(),
                'teacher_name': $("#teacherName").val(),
                'student_price': priceFloat

            };

            $.ajax({
                type: 'post',
                url: '/post/api/add-student-statistics',
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json",

                success: function (data) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "center",
                                align: "center"
                            },
                            type: 'success',
                            timer: 1000,

                        });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);

                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {
        
        $.ajax({
            type: 'GET',
            url: '/get/api/all-students',
            dataType: 'json',

            success: function (json) {
                $.each(json, function (i, value) {
                    $('#student').append('<option value="' + value.id + ' ' + value.forename + ' ' + value.surname + '">' + value.forename + ' ' + value.surname + '</option>');
                });

                $("#student").select2({
                    placeholder: "Select a student",
                    allowClear: true
                });

            },
            error: function (Result) {
               alert("Please try again.");


            }
        });

    });

</script>
<script>
    $(document).ready(function () {
        
        $.ajax({
            type: 'GET',
            url: '/get/api/all-teachers',
            dataType: 'json',

            success: function (json) {
                $.each(json, function (i, value) {
                    $('#teacherName').append('<option value="' + value.teacher_name + '">' + value.teacher_name + '</option>');
                });

                $("#teacherName").select2({
                    placeholder: "Select a teacher",
                    allowClear: true
                });

            },
            error: function (Result) {
               alert("Please try again.");


            }
        });

    });

</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/get/api/all-impacts',
            dataType: 'json',

            success: function (json) {
                $.each(json, function (i, value) {
                    // $('#impact').append('<option value="' + value.impact + '">' + value.impact + '</option>');

                     if (value.teachers == true) {
                        $('#impact').append('<option value="' + value.impact + '">' + value.impact + '</option>');
                        
                    } 
                     if (value.pastoral== true) {
                         $('#impactpastoral').append('<option value="' + value.impact + '">' + value.impact + '</option>');
                         
                    }
                });

                $("#impactpastoral").select2({
                    placeholder: "Select impacts",
                    allowClear: true
                });
                 $("#impact").select2({
                    placeholder: "Select impacts",
                    allowClear: true
                });

            },
            error: function (Result) {
               alert("Please try again.");


            }
        });

    });

</script>
<script>
    $(document).ready(function () {
        var role = $("#UserRole").val();
        $.ajax({
            type: 'GET',
            url: '/get/api/all-subjects',
            dataType: 'json',

            success: function (json) {
                $.each(json, function (i, value) {
                   if (value.teachers == true) {
                        $('#subjects').append('<option value="' + value.subject + '">' + value.subject + '</option>');
                        
                    } 
                     if (value.pastoral== true) {
                         $('#pastoral').append('<option value="' + value.subject + '">' + value.subject + '</option>');
                         
                    }
                    
                });

                $("#subjects").select2({
                    placeholder: "Select a subject",
                    allowClear: true
                });
                $("#pastoral").select2({
                    placeholder: "Select a subject",
                    allowClear: true
                });

            },
            error: function (Result) {
                alert("Please try again.");


            }
        });

    });

</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/get/api/all-interventions',
            dataType: 'json',

            success: function (json) {
                $.each(json, function (i, value) {
                    

                     if (value.teachers == true) {
                        $('#interventions').append('<option value="' + value.intervention + '">' + value.intervention + '</option>');
                        
                    } 
                     if (value.pastoral== true) {
                         $('#pastoralinterventions').append('<option value="' + value.intervention + '">' + value.intervention + '</option>');
                         
                    }
                });
                

                $("#interventions").select2({
                    placeholder: "Select an interventions",
                    allowClear: true
                });
                $("#pastoralinterventions").select2({
                    placeholder: "Select an interventions",
                    allowClear: true
                });

            },
            error: function (Result) {
               alert("Please try again.");


            }
        });

    });

</script>
{{end}}