<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{.Title}}</title>
	<meta name="description" content="{{.Description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">

	<style>
		body {
			padding-top: 90px;
		}


		.panel-login {
			border-color: #ccc;
			-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
		}


		.panel-login>.panel-heading {
			color: #00415d;
			background-color: #fff;
			border-color: #fff;
			text-align: center;
		}


		.panel-login>.panel-heading a {
			text-decoration: none;
			color: #666;
			font-weight: bold;
			font-size: 15px;
			-webkit-transition: all 0.1s linear;
			-moz-transition: all 0.1s linear;
			transition: all 0.1s linear;
		}


		.panel-login>.panel-heading a.active {
			color: #029f5b;
			font-size: 18px;
		}


		.panel-login>.panel-heading hr {
			margin-top: 10px;
			margin-bottom: 0px;
			clear: both;
			border: 0;
			height: 1px;
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
			background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
			background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
			background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		}


		.panel-login input[type="text"],
		.panel-login input[type="email"],
		.panel-login input[type="password"] {
			height: 45px;
			border: 1px solid #ddd;
			font-size: 16px;
			-webkit-transition: all 0.1s linear;
			-moz-transition: all 0.1s linear;
			transition: all 0.1s linear;
		}


		.panel-login input:hover,
		.panel-login input:focus {
			outline: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border-color: #ccc;
		}


		.btn-login {
			background-color: #59B2E0;
			outline: none;
			color: #fff;
			font-size: 14px;
			height: auto;
			font-weight: normal;
			padding: 14px 0;
			text-transform: uppercase;
			border-color: #59B2E6;
		}


		.btn-login:hover,
		.btn-login:focus {
			color: #fff;
			background-color: #53A3CD;
			border-color: #53A3CD;
		}


		.forgot-password {
			text-decoration: underline;
			color: #888;
		}


		.forgot-password:hover,
		.forgot-password:focus {
			text-decoration: underline;
			color: #666;
		}


		.btn-register {
			background-color: #1CB94E;
			outline: none;
			color: #fff;
			font-size: 14px;
			height: auto;
			font-weight: normal;
			padding: 14px 0;
			text-transform: uppercase;
			border-color: #1CB94A;
		}


		.btn-register:hover,
		.btn-register:focus {
			color: #fff;
			background-color: #1CA347;
			border-color: #1CA347;
		}


		#login-form {
			display: block;
		}

		body {
			width: 100%;
			background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
			background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
			background-size: 600% 100%;
			-webkit-animation: HeroBG 20s ease infinite;
			animation: HeroBG 20s ease infinite;
		}

		@-webkit-keyframes HeroBG {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 100% 0;
			}
			100% {
				background-position: 0 0;
			}
		}

		@keyframes HeroBG {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 100% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
	</style>


</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a style="display: none;" href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>

								</form>
								<form id="register-form" action="/admin/register" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="forename" id="forename" tabindex="1" class="form-control" placeholder="Forename" value="">
									</div>
									<div class="form-group">
										<input type="text" name="surname" id="surname" tabindex="1" class="form-control" placeholder="Surname" value="">
									</div>
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>

									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirmpassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">

										<select name="role" id="role" class="form-control">
											<option value="">Select role</option>
											<option value="administrator">Administrator</option>
											<option value="pastoral">Pastoral</option>
										</select>

									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/jquery-3.1.0.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript"></script>
	<script src="/static/js/Validation.js" type="text/javascript"></script>
	<script>
		$(document).ready(function () {

			$('#login-form-link').click(function (e) {
				$("#login-form").delay(100).fadeIn(100);
				$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function (e) {
				$("#register-form").delay(100).fadeIn(100);
				$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});

		});
		$(document).ready(function () {
			if (localStorage.chkbx && localStorage.chkbx != '') {
				$('#remember').attr('checked', 'checked');
				$('#username').val(localStorage.username);
				$('#password').val(localStorage.password);
			} else {
				$('#remember').removeAttr('checked');
				$('#username').val('');
				$('#password').val('');
			}
			$('#remember').click(function () {
				if ($('#remember').is(':checked')) {
					localStorage.username = $('#username').val();
					localStorage.password = $('#password').val();
					localStorage.chkbx = $('#remember').val();
				} else {
					localStorage.username = '';
					localStorage.password = '';
					localStorage.chkbx = '';
				}
			});
		});
	</script>
	<script>
		$(document).ready(function () {

			$('#register-form').bootstrapValidator({
				framework: 'bootstrap',
				message: 'This value is invalid',
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					username: {
						validators: {
							notEmpty: {
								message: 'The username is required and cannot be empty'
							}
						}
					},
					password: {
						validators: {
							notEmpty: {
								message: 'the password is required an cannotbe empty'
							}
						}
					},
					confirmpassword: {
						validators: {
							notEmpty: {
								message: 'The confirmation password is required and cannot be empty'
							},
							identical: {
								field: 'password',
								message: 'The confirmation password is not the same with the password'
							}
						}
					}
				}
			})


		});
	</script>


</body>

</html>