
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      overflow-x: hidden;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #00aded;
      color: #fff;
      padding: 44px 25px;
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
  }
  /*.container-fluid {
      padding: 60px 50px 24px;;
  }*/
  
  .logo-small {
      color: #00aded;
      font-size: 50px;
  }
  .logo {
      color: #00aded;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #00aded;
  }
  .carousel-indicators li {
      border-color: #00aded;
  }
  .carousel-indicators li.active {
      background-color: #00aded;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #00aded; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #00aded;
      background-color: #fff !important;
      color: #00aded;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #00aded !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #00aded;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #00aded;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #00aded !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #00aded;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
 

 #create-impacts input.form-control,select.form-control, .multiselect {
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.btn-xl {
    color: #fff;
    background-color: #00aded;
    border-color: #00aded;
    border-radius: 3px;
    font-size: 18px;
    padding: 12px;
    top: 32px;
    position: relative;
    width: 100%;
}
footer {
    background-color:  #133264;
    position: relative;
    left: 0;
    bottom:-61px;
   padding: 10px 0;
    width: 100%;
    overflow:hidden;
text-align: center;
}
#contact {
    padding: 7em 20px;
}
@media screen and (max-width:767px) {
    footer {
    background-color: #133264;
    position: relative;
    left: 0;
    bottom: 0px;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
#contact {
    padding: 3em 20px;
}
}
